<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBviyG-_q4ZVqOJXj6e90OzeegafOFnyv0</string>
	<key>GCM_SENDER_ID</key>
	<string>1005499586994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MarioOlivares.TranslateMe</string>
	<key>PROJECT_ID</key>
	<string>translateme-5ae03</string>
	<key>STORAGE_BUCKET</key>
	<string>translateme-5ae03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005499586994:ios:bc570e53c06d0b0a672cab</string>
</dict>
</plist>